@using WorkData.Dto.Entity

@model RoleDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑角色</title>
    @Html.Partial("StaticResource")
    <script type="text/javascript">
        $(function () {
            //初始化表单验证
            $("#form1").initValidform();
            var id=@Model.RoleId;
            if (id>0) {
                $("#txtCode").removeAttr("ajaxurl");
            }
        });
    </script>
</head>
<body class="mainbody">
    <form id="form1" action="~/Admin/Role/Save" method="post" onsubmit="return submitForm(this)">
        @Html.AntiForgeryToken()
        <!--导航栏-->
        <div class="location">
            <a href="~/Admin/Role/Index" class="back"><i></i><span>返回列表页</span></a>
            <i class="arrow"></i>
            <span>编辑角色</span>
        </div>
        <div class="line10"></div>
        <!--/导航栏-->
        <!--内容-->
        <div id="floatHead" class="content-tab-wrap">
            <div class="content-tab">
                <div class="content-tab-ul-wrap">
                    <ul>
                        <li><a class="selected" href="javascript:;">基本信息</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <dl>
                <dt>角色代码</dt>
                <dd>
                    <input id="txtCode" name="Code" type="text" value="@Model.Code" class="input normal"
                           datatype="*1-50" sucmsg=" " ajaxurl="/Admin/Role/Validate" />
                    <span class="Validform_checktip">*标识，50字符内</span>
                </dd>
            </dl>
            <dl>
                <dt>角色名称</dt>
                <dd><input name="Name" type="text" value="@Model.Name" class="input normal" datatype="*1-50" sucmsg=" "/> <span class="Validform_checktip">*导航中文标题，50字符内</span></dd>
            </dl>
            <dl>
                <dt>是否启用</dt>
                <dd>
                    <div class="rule-single-checkbox">
                        @Html.Hidden("Status", Model.Status, new { @class = "CheckUpdateValue" })
                        @if (Model.Status)
                        {
                            <input type="checkbox" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" />
                        }
                    </div>
                    <span class="Validform_checktip">*禁用后，模型将无法使用。</span>
                </dd>
            </dl>
            <dl>
                <dt>管理权限</dt>
                <dd>
                    <table class="border-table" ng-app="App" ng-controller="Cro">
                        <thead>
                            <tr>
                                <th width="30%">导航名称</th>
                                <th>Action列表</th>
                                <th width="10%">授权</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="resource in Resources">
                                <td>
                                    <span style="display:inline-block;" ng-style="{width: 24*resource.Layer}"></span>
                                    <span class="folder-line"></span>
                                    <span class="folder-open"></span>
                                    {{resource.ResourceName}}
                                    <input type="hidden" class="ResCode" ng-attr-ResCode="{{resource.Code}}" />
                                </td>
                                <td  class="actionList">
                                    @*<div ng-repeat="x in AuthConfigList">*@
                                        <load id="{{resource.ResourceId}}" controller="{{resource.ControllerName}}"></load>
                                    @*</div>*@
</td>
                                <td>
                                    <input type="hidden" class="hideResourceId" ng-value="{{resource.ResourceId}}" />
                                    <input type="hidden" class="hideControllerName" ng-value="{{resource.ControllerName}}" />
                                    <input class="resourceAuthorize" type="checkbox" ng-checked="IsCheck(resource.ResourceId)">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
        <!--/内容-->
        <!--工具栏-->
        <div class="page-footer">
            <div class="btn-wrap">
                <input type="hidden" value="@Model.RoleId" name="RoleId" />
                <input type="hidden" value="@ViewBag.SaveState" name="SaveState" />

                <input type="hidden" name="resourceList" id="resourceList"/>
                <input type="hidden" name="actionList" id="actionList" />

                <input type="submit" name="btnSubmit" onclick="submitForm()" value="提交保存" id="btnSubmit" class="btn" />
                <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
            </div>
        </div>
        <!--/工具栏-->
    </form>
<script src="~/scripts/angular.min.js"></script>
<style>
    .list {
        display:inline;
        padding:0px 5px;
    }
</style>
    <script type="text/javascript">
        var data=@Html.Raw(Json.Encode(@ViewBag.ResourceTree));
        var authConfigList=@Html.Raw(Json.Encode(@ViewBag.AuthConfigList));
        var array=new Array();
        var str=@Html.Raw(Json.Encode(@ViewBag.InfoList));

        array= str.split(',');

        var app = angular.module('App', []);
        app.directive("load", function() {
            return {
                restrict: 'E',
                template: '<div ng-repeat="authConfig in authConfigList" class="list"><input type=\"checkbox\" value="{{authConfig.Action}}" method="{{authConfig.Method}}" ng-checked="{{authConfig.Checked}}"><label>{{authConfig.Name}}</label></div>',
                link: function($scope, $element, $attr){
                    var controller= $attr.controller;
                    var key=$attr.id;
                    var array = new Array(); 
                    //$scope.AuthConfigList.removeAll();
                    $.each(authConfigList,function(index,value) {
                        if (authConfigList[index].ControllerName==controller&&authConfigList[index].ResourceId==key) {
                            array.push(authConfigList[index]);
                        }

                    });
                    $scope.authConfigList=array;
                }
            };
        });
        app.controller('Cro', function ($scope, $http) {
            $scope.Resources = data;
            $scope.IsCheck=function(resourceId) {
                if ($.inArray(resourceId+"", array) != "-1") {
                    return true;
                }else {
                    return false;
                }
            };
        });


        $(function () {
            UpdatePageDocment();
        });

        //Action列表
        function GetActionList(controllerName) {
            debugger;
            var html='';
            $.each(authConfigList,function(index,value){
                if (this.ControllerName==controllerName) {
                    var input="<input type=\"checkbox\" value="+this.Action+" checked="+this.Checked+">";
                    var label="<label>"+this.ControllerName+"</label>";
                    html += input+label;
                }
            });
            return html;
        }

        //表单提交
        function submitForm() {
            var resourceList = [];
            var actionList=[];

            $(".resourceAuthorize").each(function () {
                var resourceId=$(this).parent().find(".hideResourceId").val();
                if ($(this).is(':checked')) {
                    resourceList.push($(this).parent().find(".hideResourceId").val());
                }
                $(this).parent().parent().find(".list").each(function () {
                    if ($(this).find(":checkbox").is(':checked')) {
                        actionList.push(resourceId+","+$(this).find(":checkbox").attr("method")+","+
                            $(this).find(":checkbox").val()+"|");
                    }
                });
            });

            $("#resourceList").val(resourceList);
            $("#actionList").val(actionList);
        }

            function  Action(id,action) //声明对象
            {
                this.id = id;
                this.action= action;
            }

        //更新Demo
        function UpdatePageDocment() {
            var action = "@ViewBag.action";
            if (action == "edit") {
                $("#txtCode").attr("readonly", true);
                $("#txtCode").removeAttr("ajaxurl");
                $("#txtCode").removeAttr("datatype");
            }
        }
    </script>
</body>
</html>